<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="https://calm-tor-6936.herokuapp.com/">Calo Social</a>
  is a project to connect travellers all around the world in a friendly 
  community.
</p>