<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <!-- It says how many errors does the form have -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <!-- Block: it renders each error in a new <li> -->
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>