<% provide(:title, "Swaps") %>
<h1>Swaps nearby</h1>


<!-- Show each user name and its gravatar -->
<ul class="swaps">
<!-- ruby automatically looks for a partial called swaps.hrml.erb -->
      <%= render @swaps %>
</ul>

